body {
    margin: 0;
 
}

p {
    color: #757575;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.container {
    display: flex;
    height: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    background-color: dimgrey;
    color: #F7CA07;
    text-align: center;
}

address {
    font-style: normal;
    margin: 20px;
    color: #202020;

}

#block_left {
    width: 30%;
    background-color: #F7CA07;
}

#block_right {
    width: 70%;
    height: 100%;
    padding-left: 50px;
}

.image-cv {
    display: block;
    border-radius: 50%;
    margin: 40px auto 40px auto;
}

.about-me {
    font-size: 18px;
    color: #202020;
    margin-bottom: 250px;
    text-align: center;
    margin-top: 50px;
    

}

.image-hobby {
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 20px;
    background: none;
    border-radius: 25px 25px 25px 25px;
    
    border: 1px solid black;
 
}


.hobby {
    text-align: center;
}

.profile h1 {
    font-size: 60px;
    color: #444444;
    text-transform: uppercase;
    margin: 80px 0 0 0;
}

.title-color {
    color: #F7CA07;
}

.profile h4 {
    margin-bottom: 60px;
    margin-top: 0px;
    font-size: 20px;
    color: grey;

}

.title-dev {
    border-bottom: 3px #F7CA07 solid;

}
.profile1 h1 {
  display: none;
}
.title-color1 {
display: none;
}

.profile1 h4 {
display: none;

}


.profile-info {
    border-bottom: 3px #F7CA07 solid;
    margin-bottom: 30px;
}

.profile-content {
    display: flex;
}

.profile-info h3 {
    margin-bottom: 0px;
    text-transform: uppercase;
}

#block_right .fa {
    color: #F7CA07;
}

.profile-item {
    display: flex;
    margin-bottom: 40px ;
}

.profile-item .fa {
    font-size: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 1%;
    
}

.profile-item .date {
    width: 29%;

}

.profile-item .description {
    width: 70%;
}

.profile-item h4 {
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}

.recommendation h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommendation {
    margin-bottom: 30px;
}



