
    @media screen and (max-width:720px) {

        body
        {
        
        width:100%;
        margin: auto;
        align-items: center;
        position: absolute
        

        }

        #nom-prenom1{ 
          background-color: burlywood;
          display: none;
        
          
        }

        #nom-prenom2
        {
          display: block;
        }

        address
        {
            margin-left:20px;
            margin-top:10px;
            color:dimgrey;

        }

        p
        {
            text-align: justify;
            font-size: 15px;
            margin-left: 20px;
            margin-right: 20px;
            color:dimgrey;

        }

        h1
        {
            word-spacing: 10px;
            font-size: 40px;
            color: dimgrey;
            


        }

        h4
        {
        color:dimgrey ;
        margin-top: -30px;

        }
                


        #block-enfant-gauche {
        text-align:center;
        width:100%;
        background:rgb(179, 228, 181);
        margin: auto;
        height:1100px;
        
        }      
        

      
        #block-enfant-droite
        {
          text-align:center;
          width:100%;
          margin: auto;
          position: sticky;
          background:rgb(179, 228, 181);
          align-content: center;
        

        }
        

        .puce
        {
            background-color: dimgrey;
            color:#F7CA07;
            vertical-align: middle;
            text-align: center;
            padding-left: auto;
            font-size: 22px;
            padding-right: auto;
            border-bottom:2px solid dimgrey;
        }

        .grand_titre
        {
          text-align: center;
           
          
        }

        .icon_titre
        {
          display: none;
        }

         

        #a_cacher_responsive
        {
          display: none;
        }

        #a_montrer_responsive
        {
          display: block;
        }
        

        
         

    }

    
      
       
      
      